<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
      <services>
          <configurator type="NimbleSearch.Foundation.Api.IoC.ApiConfigurator, NimbleSearch.Foundation.Api"/>
      </services>

      <pipelines>
          <initialize>
              <processor type="NimbleSearch.Foundation.Api.Pipelines.Initialize.RegisterMvcRoutes, NimbleSearch.Foundation.Api" 
                         patch:before="processor[@type='Sitecore.Mvc.Pipelines.Loader.InitializeRoutes, Sitecore.Mvc']" />
          </initialize>
      </pipelines>
  </sitecore>
</configuration>