<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone or ContentManagement">
    <unicorn>
      <configurations>
        <configuration name="Foundation.NimbleSearch" description="NimbleSearch" dependencies="Foundation.Serialization">
          <targetDataStore physicalRootPath="$(sourceFolder)\Foundation\NimbleSearch.Core\serialization" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn"> 
            <include name="$(layer).$(module).Templates" database="master" path="/sitecore/templates/Foundation/NimbleSearch" />
            <include name="$(layer).$(module).Branches" database="master" path="/sitecore/templates/Branches/Foundation/NimbleSearch" />
            <include name="$(layer).$(module).Settings" database="master" path="/sitecore/system/Settings/Foundation/NimbleSearch" />
            <include name="$(layer).$(module).Rules" database="master" path="/sitecore/system/Settings/Rules/Search Query Filter" />
            <include name="$(layer).$(module).Rules.Tags" database="master" path="/sitecore/system/Settings/Rules/Definitions/Tags/Search Query Filter" />
            <include name="$(layer).$(module).Rules.Elements" database="master" path="/sitecore/system/Settings/Rules/Definitions/Elements/Search Query Filter" />
          </predicate>         
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>