<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:search="http://www.sitecore.net/xmlconfig/search/">
    <sitecore>        
        
        <settings>
            <setting name="ContentSearch.ParallelIndexing.Enabled" set:value="true" />
        </settings>
        
        <contentSearch search:require="Solr">
            <indexConfigurations>
              <defaultSolrIndexConfiguration type="Sitecore.ContentSearch.SolrProvider.SolrIndexConfiguration, Sitecore.ContentSearch.SolrProvider">
                  
                   <documentOptions type="Sitecore.ContentSearch.SolrProvider.SolrDocumentBuilderOptions, Sitecore.ContentSearch.SolrProvider">
                       
                       <fields hint="raw:AddComputedIndexField">
                           
                           <field fieldName="all_templates" returnType="stringCollection" type="Sitecore.ContentSearch.ComputedFields.AllTemplates, Sitecore.ContentSearch" deep="true" includeStandardTemplate="false" />
                           <field fieldName="templatename" returnType="string" type="NimbleSearch.Foundation.Core.ComputedFields.TemplateName, NimbleSearch.Foundation.Core" />

                           <field fieldName="nimblename" returnType="string" type="NimbleSearch.Foundation.Core.ComputedFields.BestName, NimbleSearch.Foundation.Core" />
                           <field fieldName="nimbleimage" returnType="string" type="NimbleSearch.Foundation.Core.ComputedFields.BestImage, NimbleSearch.Foundation.Core" />
                           <field fieldName="nimblesummary" returnType="string" type="NimbleSearch.Foundation.Core.ComputedFields.BestText, NimbleSearch.Foundation.Core" />
                           
                           <field fieldName="nimblenamesort" returnType="string" type="NimbleSearch.Foundation.Core.ComputedFields.NameSort, NimbleSearch.Foundation.Core" />
                           <field fieldName="nimbledatesort"  returnType="datetime" format="yyyy-MM-dd'T'HH:mm:ss'Z'" type="NimbleSearch.Foundation.Core.ComputedFields.DateSort, NimbleSearch.Foundation.Core" />

                           <!--<field fieldName="urllink" returnType="string" type="Sitecore.ContentSearch.ComputedFields.UrlLink,Sitecore.ContentSearch" />-->
                           <field fieldName="nimbleurl" returnType="string" type="NimbleSearch.Foundation.Core.ComputedFields.MultisiteUrl, NimbleSearch.Foundation.Core" />
                           
                       </fields>
                       
                    </documentOptions>
                </defaultSolrIndexConfiguration>
               
            </indexConfigurations>
        </contentSearch>


        <contentSearch search:require="Azure">
            <indexConfigurations>
                <defaultCloudIndexConfiguration type="Sitecore.ContentSearch.Azure.CloudIndexConfiguration, Sitecore.ContentSearch.Azure">

                    <fieldMap type="Sitecore.ContentSearch.Azure.FieldMaps.CloudFieldMap, Sitecore.ContentSearch.Azure">
                        <field fieldName="all_templates" searchable="YES"  retrievable="YES"  facetable="YES"  filterable="YES"  sortable="YES"  boost="1f" type="System.String[]"   settingType="Sitecore.ContentSearch.Azure.CloudSearchFieldConfiguration, Sitecore.ContentSearch.Azure" />
                        <field fieldName="templatename" searchable="YES"  retrievable="YES"  facetable="YES"  filterable="YES"  sortable="YES"  boost="1f" type="System.String"   settingType="Sitecore.ContentSearch.Azure.CloudSearchFieldConfiguration, Sitecore.ContentSearch.Azure" />
                        <field fieldName="nimblename" searchable="YES"  retrievable="YES"  facetable="YES"  filterable="YES"  sortable="YES"  boost="1f" type="System.String"   settingType="Sitecore.ContentSearch.Azure.CloudSearchFieldConfiguration, Sitecore.ContentSearch.Azure" />
                        <field fieldName="nimbleimage" searchable="YES"  retrievable="YES"  facetable="YES"  filterable="YES"  sortable="YES"  boost="1f" type="System.String"   settingType="Sitecore.ContentSearch.Azure.CloudSearchFieldConfiguration, Sitecore.ContentSearch.Azure" />
                        <field fieldName="nimblesummary" searchable="YES"  retrievable="YES"  facetable="YES"  filterable="YES"  sortable="YES"  boost="1f" type="System.String"   settingType="Sitecore.ContentSearch.Azure.CloudSearchFieldConfiguration, Sitecore.ContentSearch.Azure" />
                        <field fieldName="nimblenamesort" searchable="YES"  retrievable="YES"  facetable="YES"  filterable="YES"  sortable="YES"  boost="1f" type="System.String"   settingType="Sitecore.ContentSearch.Azure.CloudSearchFieldConfiguration, Sitecore.ContentSearch.Azure" />
                        <field fieldName="nimbledatesort" searchable="YES"  retrievable="YES"  facetable="YES"  filterable="YES"  sortable="YES"  boost="1f" type="System.DateTime" format="yyyy-MM-ddTHH:mm:ss.fffZ" settingType="Sitecore.ContentSearch.Azure.CloudSearchFieldConfiguration, Sitecore.ContentSearch.Azure" />
                        <field fieldName="nimbleurl" searchable="YES"  retrievable="YES"  facetable="YES"  filterable="YES"  sortable="YES"  boost="1f" type="System.String"   settingType="Sitecore.ContentSearch.Azure.CloudSearchFieldConfiguration, Sitecore.ContentSearch.Azure" />
                    </fieldMap>
                    
                    <documentOptions type="Sitecore.ContentSearch.DocumentBuilderOptions, Sitecore.ContentSearch">
                        
                        <fields hint="raw:AddComputedIndexField">

                            <field fieldName="all_templates"  type="Sitecore.ContentSearch.ComputedFields.AllTemplates, Sitecore.ContentSearch" deep="true" includeStandardTemplate="false" />
                            <field fieldName="templatename"   type="NimbleSearch.Foundation.Core.ComputedFields.TemplateName, NimbleSearch.Foundation.Core" />

                            <field fieldName="nimblename"     type="NimbleSearch.Foundation.Core.ComputedFields.BestName, NimbleSearch.Foundation.Core" />
                            <field fieldName="nimbleimage"    type="NimbleSearch.Foundation.Core.ComputedFields.BestImage, NimbleSearch.Foundation.Core" />
                            <field fieldName="nimblesummary"  type="NimbleSearch.Foundation.Core.ComputedFields.BestText, NimbleSearch.Foundation.Core" />

                            <field fieldName="nimblenamesort" type="NimbleSearch.Foundation.Core.ComputedFields.NameSort, NimbleSearch.Foundation.Core" />
                            <field fieldName="nimbledatesort" type="NimbleSearch.Foundation.Core.ComputedFields.DateSort, NimbleSearch.Foundation.Core" />

                            <!--<field fieldName="urllink" returnType="string" type="Sitecore.ContentSearch.ComputedFields.UrlLink,Sitecore.ContentSearch" />-->
                            <field fieldName="nimbleurl" type="NimbleSearch.Foundation.Core.ComputedFields.MultisiteUrl, NimbleSearch.Foundation.Core" />
                            
                        </fields>
                        
                    </documentOptions>
                </defaultCloudIndexConfiguration>

            </indexConfigurations>
        </contentSearch>
        
    </sitecore>
</configuration>