<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
    <sitecore>
        
        <settings>
            <!-- nimble.MaxImageSize
                 Specify a max width and height for computed field "nimbleimage" to auto scale search result images
                 Set to 0 to skip setting max width and height.
                 default 200
            -->
            <setting name="nimble.MaxImageSize" value="200" />
        </settings>
        
        <nimble>

            <!-- Best Value Settings
                  Map index properties for common usages
            -->
            <settings type="NimbleSearch.Foundation.Core.Configuration.Settings, NimbleSearch.Foundation.Core">
                <bestNameFields hint="list">
                    <!-- add template-specific title fields, ie: Blog Title, Event Name, etc -->
                    <!-- order matters, first field with a value is the value indexed for the item -->
                    <!-- hint attribute must be unique to avoid unintentional value overrides -->
                    <!-- keep most general last; if no field match then item.DisplayName is used (which falls back to item.Name) -->
                    <fieldName hint="last">Title</fieldName>
                </bestNameFields>
                <bestDateFields hint="list">
                    <!-- add template-specific date fields, ie: blog post date, event start date, etc -->
                    <!-- order matters, first field with a value is the value indexed for the item -->
                    <!-- hint attribute must be unique to avoid unintentional value overrides -->
                    <!-- keep default last -->
                    <fieldName hint="default">__Updated</fieldName>
                </bestDateFields>
                <bestImageFields hint="list">
                    <fieldName hint="default">Image</fieldName>
                </bestImageFields>
                <bestSummaryFields hint="list">
                    <fieldName hint="summary">Summary</fieldName>
                    <fieldName hint="description">Description</fieldName>
                    <fieldName hint="default">Text</fieldName>
                </bestSummaryFields>
            </settings>

            <!-- SimpleFacets:
                List facet templates that behave like simple string value facets. 
                Facets in this list are handled by the SimpleFacet pipeline processes
            -->
            <simpleFacets type="NimbleSearch.Foundation.Core.Configuration.SimpleFacets, NimbleSearch.Foundation.Core">
                <templateIds hint="raw:AddTemplate">
                    <listShort>{667A8E10-76DA-4E49-96E9-52CD2393317D}</listShort>
                    <listLong>{E87E7D2E-1E30-4535-911F-609DDBE4AAB2}</listLong>
                    <freeText>{4CB964AB-FC73-421A-AD9E-DEA27ABEA5A4}</freeText>
                </templateIds>
            </simpleFacets>
        </nimble>

        <!-- Services-->
        <services>
            <register serviceType="NimbleSearch.Foundation.Abstractions.Services.ISiteContext, NimbleSearch.Foundation.Abstractions" 
                      implementationType="NimbleSearch.Foundation.Core.Services.SiteContextService, NimbleSearch.Foundation.Core" 
                      lifetime="Singleton" />
            <register serviceType="NimbleSearch.Foundation.Abstractions.Services.INimbleService, NimbleSearch.Foundation.Abstractions" 
                      implementationType="NimbleSearch.Foundation.Core.Services.NimbleService, NimbleSearch.Foundation.Core" 
                      lifetime="Transient" />
        </services>
    </sitecore>
</configuration>