<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore role:require="Standalone or ContentManagement">
        <unicorn>
            <configurations>
                <configuration name="Foundation.NimbleSearch.UI" description="NimbleSearch UI" dependencies="Foundation.Serialization" >
                    <targetDataStore physicalRootPath="$(sourceFolder)\Foundation\NimbleSearch.UI\serialization" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
                    <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn">
                        <include name="Foundation.NimbleSearch.UI.PlaceholderSettings" database="master" path="/sitecore/layout/Placeholder Settings/Foundation/NimbleSearch UI" />
                        <include name="Foundation.NimbleSearch.UI.Layouts" database="master" path="/sitecore/layout/Layouts/Foundation/NimbleSearch UI" />
                        <include name="Foundation.NimbleSearch.UI.Renderings" database="master" path="/sitecore/layout/Renderings/Foundation/NimbleSearch UI" />
                        <include name="Foundation.NimbleSearch.UI.Templates" database="master" path="/sitecore/templates/Foundation/NimbleSearch UI" />
                    </predicate>
                </configuration>
            </configurations>
        </unicorn>
    </sitecore>
</configuration>