<div id="pagination-placeholder" class="pagination-placeholder"></div>

<script id="pagination-template" type="text/x-handlebars-template">
    <div class="foot">
        <a class="btn more" hef="#" id="load-more">Load More</a>
    </div>
</script>

<script>
    NimbleSearch.current().paginationProvider = new PaginationProvider();
</script>