<div id="nimble-pagination-placeholder" class="nimble-pagination-placeholder"></div>

<script id="nimble-pagination-template" type="text/x-handlebars-template">
    <div class="text-center pagination">
        <input type="button" class="nimble_btn_prev" value="<" />
        <span class="nimble_page"></span>
        <input type="button" class="nimble_btn_next" value=">" />
    </div>
</script>
