@model NimbleSearch.Foundation.Abstractions.Models.Definitions.TabItem

<div class="form-group">
    <div class="input-group">
        <input type="text" placeholder="Enter a text to search for..." id="nimble-searchbox" class="form-control" autocomplete="off">
        <span class="input-group-btn">
            <button class="btn btn-default" id="nimble-searchbox-button" value="Go" >Go
            </button>
        </span>
    </div>
</div>

